@model ProjeCore.Models.Personel
@{
    ViewData["Title"] = "YeniPersonel";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<form class="form-group" method="post">

        <b>Personel Adı</b>
        @Html.TextBoxFor(x=>x.Ad , new {@class="form-control"})

        <b>Personel Soyadı</b>
        @Html.TextBoxFor(x=>x.Soyad , new {@class="form-control"})

        <b>Personel Sehri</b>
        @Html.TextBoxFor(x=>x.Sehir , new {@class="form-control"})

        <b>Birim</b>
       @Html.DropDownListFor(x=>x.Birim.BirimID, (List<SelectListItem>)ViewBag.dgr, new {@class="form form-control"})


    <br />
    <button class="btn btn-info">Personel Ekle</button>

</form>

